<div class="row">
	<div class="span12">

		<h2>Resend confirmation instructions</h2>

		<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
  			
			<%= devise_error_messages! %>

			<div class="control-group">
				<%= f.label :email, :class => 'control-label' %>
				<div class="controls">
					<%= f.email_field :email %>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<%= f.submit "Resend confirmation instructions", :class => 'btn' %>
					<div>
						<%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
		<% end %>
	</div><%# /.span12 %>
</div><%# /.row %>

