<%# Altered %>
<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", '/sign_in' %><br />
<% end -%>

<%# Altered %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", '/sign_up' %><br />
<% end -%>

<%# Altered %>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", '/reset_password' %><br />
<% end -%>

<%# Altered %>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", '/resend_confirmation_email' %><br />
<% end -%>

<%# Altered %>
<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", '/resend_unlock_email' %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>