
<div class="row">
	
	<div class="span12">
		<h2>You can log in to your account using:</h2>
	</div><%# /.span12 %>

	<div class="span12">
		
		<% if current_user.has_a_password? %>
			<div class="authentication-local" style="margin:5px; background:#eee;">
				<strong>Username & password</strong><br/>
				<%= current_user.email %><br/>
			</div>
		<% end %>
		
		<% unless @authentications.empty? %>
			<% @authentications.each do |authentication| %>
			
				<div class="authentication-oauth" style="margin:5px; background:#eee;">
					<strong><%= provider_display_name(authentication.provider) %></strong><br/>
					<%= authentication.uid %><br/>
					<%= link_to "delete", destroy_authentication_path, method: :delete, data: { confirm: 'Delete this auth option?' } %>
				</div>
			
			<% end %>
		<% end %>
	</div><%# /.span12 %>	

</div><%# /.row %>


<div class="row">
	
	<div class="span12">
		<h2>Add another service to sign in with:</h2>
	</div><%# /.span12 %>

	<div class="span12">
		<%= render 'shared/third_party_authentication_links' %>
	</div><%# /.span12 %>	

</div><%# /.row %>