<div class="row">
	<div class="span12">
		
		<h2>Change your password</h2>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>

			<%= devise_error_messages! %>

			<%= f.hidden_field :reset_password_token %>


			<div class="control-group">
				<%= f.label :password, "New password", :class => 'control-label' %>
				<div class="controls">
					<%= f.password_field :password %>
				</div>
			</div>

			<div class="control-group">
				<%= f.label :password_confirmation, "Confirm new password", :class => 'control-label' %>
				<div class="controls">
					<%= f.password_field :password_confirmation %>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<%= f.submit "Change my password", :class => 'btn' %>
					<div>
						<%= render "devise/shared/links" %>
					</div>
				</div>
			</div>

		<% end %>
	</div><%# /.span12 %>
</div><%# /.row %>