<div class="row">
	<div class="span12">
		
		<h2>Forgot your password?</h2>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>

			<%= devise_error_messages! %>

			<div class="control-group">
				<%= f.label :email, :class => 'control-label' %>
				<div class="controls">
					<%= f.email_field :email %>
				</div>
			</div>

			<div class="control-group">
				<div class="controls">
					<%= f.submit "Send me reset password instructions", :class => 'btn' %>
					
					<div>
						<%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
			
		<% end %>
			
	</div><%# /.span12 %>
</div><%# /.row %>