<%= form_for(resource, :as => resource_name, :html => {:class => 'form-horizontal'}, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	<div class="control-group">
		<%= f.label :email, :class => 'control-label' %>
		<div class="controls">
			<%= f.email_field :email %>
		</div>
	</div>

	<% if not @user.third_party_signup? %>
		<div class="control-group">
			<%= f.label :password, :class => 'control-label' %>
			<div class="controls">
				<%= f.password_field :password %>
			</div>
		</div>
	
		<div class="control-group">
			<%= f.label :password_confirmation, :class => 'control-label' %>
			<div class="controls">
				<%= f.password_field :password_confirmation %>
			</div>
		</div>
	<% end %>

	<div class="control-group">
		<div class="controls">
			<%= f.submit "Sign up", :class => 'btn' %>
			<div>
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
	
<% end %>