<div class="row">
	
	<div class="span12">
		<h2>Create an account</h2>
	</div><%# /.span12 %>
	
	<% if @user.third_party_signup? %>
	<div class="span12">
		<div class="alert alert-error">
			You're signing up with your 
			<strong>
				<%= provider_display_name @user.authentications.first.provider %>
			</strong> 
			account. If this is not what you want, please <%= link_to 'click here', '/clear_third_party'  %>.
		</div>
	</div><%# /.span12 %>
	<% end %>
	
	<div class="span6" style="background: #eee;">
		<%= render 'new_user_form' %>
	</div><%# /.span6 %>
	
	<div class="span6" style="background: #eee;">
		<%= render  'shared/third_party_authentication_links' %>
	</div><%# /.span6 %>
	
</div><%# /.row %>


