<ul>
  <li><a href="/auth/google_oauth2" class="auth_provider">Google</a></li>
  <li><a href="/auth/twitter" class="auth_provider">Twitter</a></li>
  <!--<li><a href="/auth/facebook" class="auth_provider">Facebook</a></li>-->
  <!--<li><a href="/auth/open_id" class="auth_provider">OpenID</a></li>-->
</ul>