<%= form_for(resource, :as => resource_name, :html => {:class => 'form-horizontal'}, :url => session_path(resource_name)) do |f| %>

	<div class="control-group">
		<%= f.label :email, :class => 'control-label' %>
		<div class="controls">
			<%= f.email_field :email %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :password, :class => 'control-label' %>
		<div class="controls">
			<%= f.password_field :password %>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<% if devise_mapping.rememberable? -%>
				<label class="checkbox">
					<%= f.check_box :remember_me %> Remember me
				</label>
			<% end -%>
			
			<button>fuck you</button>
			
			<%= f.submit "Log In", :class => 'btn', :id => 'fuckfuck'%>
		
			<div>
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>

<% end %>