<div class="row">
	
	<div class="span12">
		<h2>Sign in</h2>
	</div><%# /.span12 %>

	<div class="span6" style="background: #eee;">
		<h3>With a username and password</h3>
		<%= render 'new_session_form' %>
	</div><%# /.span6 %>
	
	<div class="span6" style="background: #eee;">
		<h3>With a 3rd Party</h3>
		<%= render  'shared/third_party_authentication_links' %>
	</div><%# /.span6 %>

</div><%# /.row %>




