<p>No user was found for that <strong><%= provider_display_name @provider %></strong> account.</p>

<p><%= link_to 'Create one?', '\sign_up' %></p>

<p><%= link_to 'Sign in with a username and password', '/sign_in' %></p>

<p>Try another provider?</p>
<%= render 'shared/third_party_authentication_links' %>