<!DOCTYPE html>
<html>
<head>
  <title>BoilerPlateRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%# Debug Pane %>
<% if Rails.env == 'development' %>

	<style>
		#debug-pane{
		    background: #FCF8E3;
		    border-bottom: 1px solid #111;
			display: none;
		    padding: 10px;
		    text-align: left;
		}
		
		#debug-bttn{
			z-index: 9001;
			position: absolute;
			top: 5px;
			left: 5px;
			background: red;
			opacity:0.4;
			filter:alpha(opacity=40); /* For IE8 and earlier */
		}
	</style>

	<script>
		$(document).ready(function(){
			$('#debug-bttn')
				.append('Debug')
				.click(function(){
					$('#debug-pane').toggle();
				});
		});
	</script>

	<div id="debug-bttn">
		
	</div>

    <div id="debug-pane">
		<strong>Session:</strong> <%= get_session.inspect %><br/>
        <strong>Environment:</strong> <%= Rails.env %><br/>
        <strong>Params:</strong> <%= params.inspect %><br/>
		<strong>Intention:</strong> <%= intention %><br/>
    </div>
<% end %>

<%# Main Navigation %>
<div id="navigation">
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="pull-left">
                    <strong><%= link_to 'Boiler Plate Rails', '/' %></strong>
                </div>

                <div class="pull-right">
                    <% if user_signed_in? %>
                        Hello, <%= current_user.email %> |
                        <%= link_to 'Authentications', '/authentications' %> |
                        <%= link_to 'Settings', '/settings' %> |
                        <%= link_to 'Log out', destroy_user_session_url, :method => :delete  %>
                    <% else %>
                        <%= link_to 'Log In', '\sign_in'  %> |
                        <%= link_to 'Sign Up', '\sign_up'  %>
                    <% end %>
                </div>

            </div><%# /.span12 %>
        </div><%# /.row %>
    </div><%# /.container %>
</div><%# /#navigation %>


<%# Flash Notice %>
<div id="flash">
    <div class="container">
        <div class="row">
            <div class="span12">

                <% if notice %>
                    <div class="alert alert-info">
                        <%= notice %>
                    </div>
                <% end %>

                <% if alert %>
                    <div class="alert alert-error">
                        <%= alert %>
                    </div>
                <% end %>

            </div><%# /.span12 %>
        </div><%# /.row %>
    </div><%# /.container %>
</div><%# /#navigation %>

<%# Content %>
<div id="content">
    <div class="container">
        <%= yield %>
    </div><%# /.container %>
</div><%# /#navigation %>

</body>
</html>
